<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    web: python your_app.py
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>G2C2 Data Processor</title>
    <!-- Importing Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap">
    <!-- Link to your custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <!-- Logo Image -->
        <img src="{{ url_for('static', filename='G2C2 header.png') }}" alt="G2C2" class="logo">
        <h2>Please upload your .CSV file downloaded from Kobo Tool Box</h2>
    </header>
    <main>
        <section class="intro">
            <p>Upload your CSV file and download the processed file easily.</p>
        </section>
        <section class="upload-form">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="file" accept=".csv">
                <input type="submit" value="Download File" class="btn btn-primary">
            </form>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 TrackImpact.net</p>
    </footer>
</body>
</html>